.container_night{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    align-content: center;
    text-align: center;
    background-color: rgb(70, 69, 69);
    color:ghostwhite;
    width: 100%;
    height: 100%;
}
.container_day{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.div{
    margin-left: 160px;
}

.div_chart{
    margin-left: 250px;
}

.div_table{
    margin-left: 100px;
}

.button{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

#question{
    text-align: center;
    width: 800px;
    height: 100px;
    border: solid 1px rgb(149, 152, 185);
    background-color: #c0c7e9;
    color: rgb(42, 70, 70);
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
}

.title_td{
    width: 100px;
    border-bottom: 1px solid #444444;
    padding: 10px;
}
.content_td{
    width: 800px;
    border-bottom: 1px solid #444444;
    padding: 10px;
}

.share{
    border: solid 1px rgb(150, 188, 226);
    background-color: #caecec;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
}

.left{
    display: flex;
    justify-content: flex-start;
}

.bar{
    width: 800px;
    margin-left: 160px;
}